<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lion - Bootstrap Admin Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  	<!-- Google Fonts call. Font Used Open Sans -->
  	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel='stylesheet' type='text/css'>
    
  </head>
  <body>
  
  	<!-- NAVIGATION MENU -->

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html"><img src="assets/img/logo-small.png" alt=""> Lion Admin Theme</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="index.html"><i class="icon-home icon-white"></i> Home</a></li>
              <li class="active"><a href="charts.html"><i class="icon-signal icon-white"></i> Charts</a></li>
              <li><a href="manager.html"><i class="icon-folder-open icon-white"></i> File Manager</a></li>
              <li><a href="calendar.html"><i class="icon-calendar icon-white"></i> Calendar</a></li>
              <li><a href="ui-elements.html"><i class="icon-bookmark icon-white"></i> UI Elements</a></li>
              <li><a href="tables.html"><i class="icon-th icon-white"></i> Tables</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-file icon-white"></i> Sample Pages <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="buttons.html"><i class="icon-gift icon-white"></i> Buttons & Icons</a></li>
                  <li><a href="invoice.html"><i class="icon-pencil icon-white"></i> Invoice</a></li>
                  <li><a href="forms.html"><i class="icon-align-justify icon-white"></i> Forms</a></li>
                  <li><a href="gallery.html"><i class="icon-picture icon-white"></i> Gallery</a></li>
                  <li><a href="grid.html"><i class="icon-align-left icon-white"></i> Grid</a></li>
                  <li class="divider"></li>
                  <li><a href="map.html"><i class="icon-globe icon-white"></i> Map</a></li>
                  <li><a href="404.html"><i class="icon-warning-sign icon-white"></i> 404 Error</a></li>
                  <li><a href="login.html"><i class="icon-wrench icon-white"></i> Login</a></li>
                </ul>
              </li>
              <li><a href="user.html"><i class="icon-user icon-white"></i> User</a></li>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- CONTENT -->
	<div class="row">
		<div class="span3">
			<hr>   
			<h4>STAT EXAMPLE 1</h4>
			<div id="otherstat"></div>
	        <h5>- INFO:</h5>
	        <p><i class="icos-thumbs-up" style="vertical-align:baseline"></i> Awesomeness: <b style="color:#ff6e01">75%</b></p>
		</div><!--/span3 -->
        
        <div class="span3">
			<hr>   
			<h4>STAT EXAMPLE 2</h4>
			<div id="money"></div>
			<h5>- REFERENCES:</h5>
			<p><i class="icos-heart" style="vertical-align:baseline"></i> Total Earnings: <b style="color:#ff6e01">$44.550</b></p>
        </div><!--/span3 -->
        
        <div class="span3">
			<hr>
	        <h4>STAT EXAMPLE 3</h4>
	        <div id="site"></div>
	        <h5>- VISITS:</h5>
	        <p><i class="icos-fire" style="vertical-align:baseline"></i> Total Visits: <b style="color:#ff6e01">447.763</b></p>
       </div><!--/span3 -->
       
        <div class="span3">
	        <hr>   
	        <h4>STAT EXAMPLE 4</h4>
	        <div id="users"></div>
	        <h5>- DETAILS:</h5>
	        <p><i class="icos-user1" style="vertical-align:baseline"></i> Total Users: <b style="color:#ff6e01">17.110</b></p>
		</div><!--/span3 -->
      </div><!-- /row -->
     </div> <!-- /container -->
 <br>    
      <div id="middlewrap">
      	<footer class="clearfix"></footer>
      	<div class="container">
      		<div class="row">
      			<div class="span6">
      				<hr>
      				<h4>STAT EXAMPLE 5</h4>
      				<br>
      				<div id="chartline"></div>
      			</div><!-- /span6 -->
      			
      			<div class="span6">
      				<hr>
      				<h4>STAT EXAMPLE 6</h4>
      				<br>
      				<div id="chartbars"></div>
      			</div><!-- /span6 -->
      			
      		</div><!-- /row -->
      	</div><!-- /container -->
      	<br>

      </div><!-- /middlewrap -->
	<!-- FOOTER -->	
	<div id="footerwrap">
      	<footer class="clearfix"></footer>
      	<div class="container">
      		<div class="row">
      			<div class="span12">
      			<p><img src="assets/img/logo.png" alt=""></p>
      			<p>Lion Admin Theme - Crafted With Love - Copyright 2012</p>
      			</div>
      		</div><!-- /row -->
      	</div><!-- /container -->		
	</div><!-- /footerwrap -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="assets/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-alert.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-scrollspy.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-tab.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-popover.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-button.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-carousel.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-typeahead.js"></script>
	<script type="text/javascript" src="assets/js/highcharts.js"></script>
    <script type="text/javascript" src="assets/js/admin.js"></script>
    <script type="text/javascript" src="assets/js/other-charts.js"></script>

  </body>
</html>
