<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lion - Bootstrap Admin Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  	<!-- Google Fonts call. Font Used Open Sans -->
  	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel='stylesheet' type='text/css'>
  </head>
  <body>
  	<!-- NAVIGATION MENU -->

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html"><img src="assets/img/logo-small.png" alt=""> Lion Admin Theme</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="index.html"><i class="icon-home icon-white"></i> Home</a></li>
              <li><a href="charts.html"><i class="icon-signal icon-white"></i> Charts</a></li>
              <li><a href="manager.html"><i class="icon-folder-open icon-white"></i> File Manager</a></li>
              <li><a href="calendar.html"><i class="icon-calendar icon-white"></i> Calendar</a></li>
              <li class="active"><a href="ui-elements.html"><i class="icon-bookmark icon-white"></i> UI Elements</a></li>
              <li><a href="tables.html"><i class="icon-th icon-white"></i> Tables</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-file icon-white"></i> Sample Pages <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="buttons.html"><i class="icon-gift icon-white"></i> Buttons & Icons</a></li>
                  <li><a href="invoice.html"><i class="icon-pencil icon-white"></i> Invoice</a></li>
                  <li><a href="forms.html"><i class="icon-align-justify icon-white"></i> Forms</a></li>
                  <li><a href="gallery.html"><i class="icon-picture icon-white"></i> Gallery</a></li>
                  <li><a href="grid.html"><i class="icon-align-left icon-white"></i> Grid</a></li>
                  <li class="divider"></li>
                  <li><a href="map.html"><i class="icon-globe icon-white"></i> Map</a></li>
                  <li><a href="404.html"><i class="icon-warning-sign icon-white"></i> 404 Error</a></li>
                  <li><a href="login.html"><i class="icon-wrench icon-white"></i> Login</a></li>
                </ul>
              </li>
              <li><a href="user.html"><i class="icon-user icon-white"></i> User</a></li>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

	<div class="container">

      <!-- CONTENT -->
		<div class="row">
      		<!-- Sidebar -->
			<div class="span3">
				<div class="block-unit">
      				<div class="oneBox"> <img src="assets/img/pic6.jpg" alt=""> <a href="user.html" class="tooltip-test" data-placement="top" title="Go to the User Profile Page"><strong>Brian Smith</strong> <em>Logged as an administrator</em></a> </div>
					<p><i class="icos-mail"></i> <a href="#" class="tooltip-test" data-placement="top" title="New Mails"><span class="badge badge-one">6</span></a> 
					- <i class="icos-comments3"></i> <a href="#" class="tooltip-test" data-placement="top" title="New Messages"><span class="badge badge-one">2</span></a></p>
		      		<p>You can use this sidebar for multiple purposes. You can show your most important stats or a list of pending task for example.</p>
					<hr>
					<p><strong>Quick Information</strong></p>
		      		<p><i class="icos-meter-fast"></i> Bandiwth Consumption <span class="badge badge-warning">76%</span> </p>
		      		<p><i class="icos-database"></i> Disk Space Used <span class="badge badge-one">35%</span></p>
		      		<p><i class="icos-basket"></i> Sales Last Month <span class="badge badge-success">1981</span> </p>
		      		<p><i class="icos-heart"></i> Earnings Last Month <span class="badge badge-success">$44,550</span></p>
					<hr>
					<p><strong>New Update</strong></p>
      				<div class="oneBox"> <img src="assets/img/pic1.jpg" alt=""> <strong>Roger Taylor</strong> <em>wrote a minute ago.</em></div>
					<p style="background:#dbd2c6;padding:.5em .75em;color:#444;font-size:12px;"><em>"You can be anything you want to be, Just turn yourself into anything you think that you could ever be. Be free with your tempo, be free be free. Surrender your ego - be free, be free to yourself."</em></p>
					<hr>
					<p><strong>Important Stat</strong></p>
			        <div id="money"></div>
				</div><!-- /block-unit -->
        	</div><!-- /span3 -->

      		<!-- UI Elements -->
        	<div class="span9">
				<div class="row" style="margin:auto;">
				<div class="block-unit">
					<h4><strong>Progress Bars</strong></h4>
					<h5>Simple Bar</h5>
					<div class="progress">
						<div class="bar bar-warning" style="width: 80%;"></div>
					</div>	
					<h5>Striped Bar</h5>
					<div class="progress progress-striped">
						<div class="bar" style="width: 60%;"></div>
					</div>
					<h5>Animated Bar</h5>
					<div class="progress progress-striped active">
						<div class="bar bar-success" style="width: 40%;"></div>
					</div>
					<h5>Stacked Bar</h5>
					<div class="progress">
						<div class="bar bar-success" style="width: 35%;"></div>
						<div class="bar bar-warning" style="width: 30%;"></div>
						<div class="bar bar-danger" style="width: 20%;"></div>
					</div>
				</div><!-- /BlockUnit -->
				<div class="block-unit">
					<h4><strong>Alerts</strong></h4>
					<div class="alert">
					  <button type="button" class="close" data-dismiss="alert">x</button>
					  <strong>Warning!</strong> Best check yo self, you're not looking too good.
					</div>					
					<div class="alert alert-error">
					  <button type="button" class="close" data-dismiss="alert">x</button>
					  <strong>Error!</strong> Your doing it wrong! Solve this now.
					</div>					
					<div class="alert alert-info">
					  <button type="button" class="close" data-dismiss="alert">x</button>
					  <strong>Hey!</strong> Everything is ok, but just check this.
					</div>					
					<div class="alert alert-success">
					  <button type="button" class="close" data-dismiss="alert">x</button>
					  <strong>Success!</strong> You did it beautifully!.
					</div>					
				</div><!-- /BlockUnit -->

				<div class="block-unit">
					<h4><strong>Notifications</strong></h4>
					<p>
						<button class="btn noty" data-noty-options='{"text":"This is a success notification","layout":"topRight","type":"success"}'><i class="icon-bell"></i> Top Right</button>
						<button class="btn noty" data-noty-options='{"text":"This is an informaton notification","layout":"topLeft","type":"information"}'><i class="icon-bell"></i> Top Left</button>
						<button class="btn noty" data-noty-options='{"text":"This is an alert notification with fade effect","layout":"topCenter","type":"alert","animateOpen": {"opacity": "show"}}'><i class="icon-bell"></i> Top Center (fade)</button>
					</p>
				</div><!-- /BlockUnit -->

				<div class="block-unit">
					<h4><strong>Modal Notifications</strong></h4>
					<p><a data-toggle="modal" href="#myModal" class="btn btn-primary">Launch demo modal</a></p>
				</div><!-- /BlockUnit -->

				<div class="block-unit">
					<h4><strong>Pure CSS Switch</strong></h4>
					<div class="switch">
					    <input type="checkbox">
					    <label><i></i></label>
					</div> 
				</div><!-- /BlockUnit -->


				</div><!-- /row -->
			</div><!-- /span9 -->
			
<!-- MODAL CONFIGURATION -->

          <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 id="myModalLabel"><strong>Hello! I'm a Modal Heading</strong></h4>
            </div>
            <div class="modal-body">
              <h4 style="color:#ff6e01">Text in a modal</h4>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>
              <hr>
              <br>
              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>

			
      </div><!-- /row -->
   </div> <!-- /container -->
     
    <!-- Footer -->
	<div id="footerwrap">
      	<footer class="clearfix"></footer>
      	<div class="container">
      		<div class="row">
      			<div class="span12">
      			<p><img src="assets/img/logo.png" alt=""></p>
      			<p>Lion Admin Theme - Crafted With Love - Copyright 2012</p>
      			</div>
      		</div><!-- /row -->
      	</div><!-- /container -->		
	</div><!-- /footerwrap -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="assets/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-alert.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-scrollspy.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-tab.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-popover.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-button.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-carousel.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-typeahead.js"></script>
	<script type="text/javascript" src="assets/js/highcharts.js"></script>
    <script type="text/javascript" src="assets/js/sidebar-chart.js"></script>

	<!-- NOTY JAVASCRIPT -->

	<script type="text/javascript" src="assets/js/noty/jquery.noty.js"></script>
	<script type="text/javascript" src="assets/js/noty/layouts/top.js"></script>
	<script type="text/javascript" src="assets/js/noty/layouts/topLeft.js"></script>
	<script type="text/javascript" src="assets/js/noty/layouts/topRight.js"></script>
	<script type="text/javascript" src="assets/js/noty/layouts/topCenter.js"></script>

	<!-- You can add more layouts if you want -->
	<script type="text/javascript" src="assets/js/noty/themes/default.js"></script>
    <script type="text/javascript" src="assets/js/ui-noty.js"></script>

    <script type="text/javascript" src="assets/js/admin.js"></script>

  </body>
</html>
