
<strong>Rename:</strong> URL path "/[db]/[colletion]/reanme/[newcollection]"<br/>
<strong>Create:</strong> URL path "/[db]/[colletion]/create"<br/>
<strong>Drop:</strong> URL path "/[db]/[colletion]/drop"<br/>
<strong>Import:</strong> URL path "/[db]/[colletion]/import"<br/>
<strong>Export:</strong> URL path "/[db]/[colletion]/export"<br/>

<h1>Collections</h1>
<ul>
      {% for collection in collection_list %}
     <li> <a href="/{{dbname}}/{{collection}}"> {{collection}}</a>| <a href="/{{dbname}}/{{collection}}/drop"> Drop</a></li>
      {% end %}

 </ul>