{% extends "base.html" %}
 
{% block body %} 


    <div class="container">

      <!-- Example row of columns -->
      <div class="row">
        <div class="span2">
      		<div class="dash-unit">
	          <img src="http://www.gravatar.com/avatar/{{gravatar}}?s=200" alt="{{user}}">
	          <h1>{{user}}</h1>
	          <p><i class="icon-envelope icon-white"></i> <a href="#" class="tooltip-test" data-placement="top" title="New Mails"><span class="badge badge-one">6</span></a> 
	          - <i class="icon-comment icon-white"></i> <a href="#" class="tooltip-test" data-placement="top" title="New Messages"><span class="badge badge-one">2</span></a></p>
			</div>
        </div>
        <div class="span3">
            <hr>   
            <h4>REVENUE INFO</h4>
	        <div id="money"></div>
            <h5>- DETAILS:</h5>
			<p><i class="icos-heart" style="vertical-align:baseline"></i> Total Earnings: <b style="color:#ff6e01">$44.550</b></p>
        </div>
        <div class="span3">
			<hr>
	        <h4>MONTHLY VISITS</h4>
	        <div id="site"></div>
	        <h5>- DETAILS:</h5>
	        <p><i class="icos-fire" style="vertical-align:baseline"></i> Total Visits: <b style="color:#ff6e01">447.763</b></p>
       </div>
        <div class="span3">
	        <hr>   
	        <h4>TOTAL USERS</h4>
	        <div id="users"></div>
	        <h5>- DETAILS:</h5>
	        <p><i class="icos-user1" style="vertical-align:baseline"></i> Total Users: <b style="color:#ff6e01">17.110</b></p>
	       </div>

      </div><!-- /row -->
     </div> <!-- /container -->
     <br>
      <div id="middlewrap">
     <br>

      	<footer class="clearfix"></footer>
      	<div class="container">
      		<div class="row">
      		
      		
      	{% if db_list %}
      {% for dbname in db_list %}
     <a href="/{{dbname}}">
     
           			<div class="span2">
		      		<div class="dash2-unit">
				        <h1>{{dbname}}</h1>
				        <br>
				        <p style="text-align:center"><img src="/static/img/icos/database.png" alt="" ></p>
					
					</div><!-- /dash2-unit -->
      			</div><!-- /span2 -->
      		 </a>

      {% end %}
      {% else %}
      Not found database
      {% end %}	
      		

	


      		</div><!-- /row -->
      	</div><!-- /container -->
      </div><!-- /middlewrap -->
	<div id="footerwrap">
      	<footer class="clearfix"></footer>
      	<div class="container">
      		<div class="row">
      			<div class="span12">
      			<p><img src="/static/img/logo.png" alt=""></p>
      			<p>Lion Admin Theme - Crafted With Love - Copyright 2012</p>
      			</div>

      		</div><!-- /row -->
      	</div><!-- /container -->		
	</div><!-- /footerwrap -->

 {% end %}
 
 
 {% block js %}
     <script type="text/javascript" src="/static/js/bootstrap-transition.js?v=1"></script>
    <script type="text/javascript" src="/static/js/bootstrap-alert.js?v=1"></script>
    <script type="text/javascript" src="/static/js/bootstrap-modal.js?v=1"></script>
    <script type="text/javascript" src="/static/js/bootstrap-dropdown.js?v=1"></script>
    <script type="text/javascript" src="/static/js/bootstrap-tooltip.js?v=1"></script>
<script type="text/javascript" src="/static/js/bootstrap-button.js?v=1"></script>
<script type="text/javascript" src="/static/js/bootstrap-collapse.js?v=1"></script>
<script type="text/javascript" src="/static/js/bootstrap-typeahead.js?v=1"></script>
<script type="text/javascript" src="/static/js/highcharts.js"></script>
<script type="text/javascript" src="/static/js/dash-charts.js"></script>
<script type="text/javascript" src="/static/js/noty/jquery.noty.js"></script>
<script type="text/javascript" src="/static/js/noty/layouts/topRight.js"></script>
	<!-- You can add more layouts if you want -->
<script type="text/javascript" src="/static/js/noty/themes/default.js"></script>
<script type="text/javascript" src="/static/js/dash-noty.js"></script>
    <script type="text/javascript" src="/static/js/admin.js"></script>


{% end %}
