<a href="/lng/tr_TR">tr_TR</a>
<a href="/lng/en_US">en_US</a>
<a href="/userdbadd"><strong>Database Add</strong></a>
<h1>{{ _("Copy From") }}</h1>
<strong>Local DB Copy:</strong> URL path "/[maindb]/copy/[todb]"<br/>
<a href="/hostdbcopy"><strong>External DB Copy</strong></a>

<h1>{{ _("Databases") }}</h1>
<ul>  {% if db_list %}
      {% for dbname in db_list %}
     <li> <a href="/{{dbname}}"> {{dbname}}</a> | <a href="/{{dbname}}/drop"> Drop</a> </li>
      {% end %}
      {% else %}
      Not found database
      {% end %}
 </ul>