<strong>Add:</strong> URL path "/[db]/[colletion]/add"<br/>
<h3><a href="/{{dbname}}/{{collname}}/add">Document Add</a></h3>

<h1>Collection Stats</h1>

{{collstats}} <br/>


 <form action="/{{dbname}}/{{collname}}" method="get">
 {% module xsrf_form_html() %}
 <textarea rows="10%" cols="80%" name="queryy">{"query":{},"fields":{},"sort":{},"limit":{},"options":{"explain":True}}
 </textarea>
 <span spellcheck="false" contenteditable="true" data-type="number" data-name="query">10</span>
<input type="submit" value="Find">
</form>
<h1>Documents</h1>
<ul>
      {% for doc in doc_list %}
     <li> <a href="/{{dbname}}/{{collname}}/{{doc["_id"]}}"> {{doc}}</a> | <a href="/{{dbname}}/{{collname}}/{{doc["_id"]}}/remove"> Remove</a> </li>
     {% end %}

 </ul>