{% extends "base.html" %}

{% block meta%}
   <link href="/static/jsoneditor/app.css" rel="stylesheet" type="text/css">
    <link href="/static/jsoneditor/fileretriever.css" rel="stylesheet" type="text/css">
    <link href="/static/jsoneditor/jsoneditor.css" rel="stylesheet" type="text/css">
    <!-- TODO: droid font
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    -->

    <script type="text/javascript" src="/static/jsoneditor/jsoneditor.js?v=1"></script>
    <script type="text/javascript" src="/static/jsoneditor/queryparams.js"></script>
    <script type="text/javascript" src="/static/jsoneditor/ajax.js"></script>
    <script type="text/javascript" src="/static/jsoneditor/fileretriever.js"></script>
    <script type="text/javascript" src="/static/jsoneditor/notify.js"></script>
    <script type="text/javascript" src="/static/jsoneditor/splitter.js"></script>
    <script type="text/javascript" src="/static/jsoneditor/app.js"></script>
    <script type="text/javascript" src="/static/jsoneditor/lib/jsonlint/jsonlint.js"></script>
  {% end %}
{% block body %} 
<h4>Document Edit</h4>
<a href="/{{dbname}}/{{collname}}/{{docid}}/remove"><button class="btn btn-primary" type="button">Remove</button></a>
<button class="btn btn-primary" type="button" onClick="getJSON()">Save</button>
<div id="auto">
    <div id="contents">
        <div id="jsonformatter"></div>

        <div id="splitter"></div>

        <div id="jsoneditor"></div>

        <script type="text/javascript">
            app.load();
            app.resize();
        </script>


        </div>
    </div>
</div>


<script type="text/javascript">
   var json = {% autoescape None %}  {{formdoc}};

        formatter.set(json);
        formatter.onError = function (err) {
            app.notify.showError(err);
        };

        editor.set(json);
    
    function getJSON() {
        var json = editor.get();
        
        $.post("",{jsonData:JSON.stringify(json, null, 2)},function(donen_sonuc){alert("OK");});
    }
    </script>



  {% end %}
