          <form action="/auth/login" method="post">
            <fieldset>
              <legend>Login</legend>

                  <label class="control-label" for="username">Username:</label>
    
                    <input type="text" name="username" class="input-xlarge" id="username">
   
                  <label class="control-label" for="password">Password:</label>

                    <input type="password" name="password" class="input-xlarge" id="password">

                  <button type="submit" class="btn btn-primary">Login</button>

            </fieldset>
          </form>
