          <form method="post">

            <fieldset>

                
                  <label class="control-label" for="name">İsim:</label>
                 
                    <input type="text" name="name"  id="name">
                    
                  
                

                
                  <label class="control-label" for="username">Kullanıcı Adı:</label>
                 
                    <input type="text" name="username"  id="username">
                    
                  
                

                
                  <label class="control-label" for="password">Şifre:</label>
                 
                    <input type="password" name="password"  id="password">
                    
                  
                

                
                  <label class="control-label" for="confirm_password">Şifre Tekrarı:</label>
                 
                    <input type="password" name="confirm_password"  id="confirm_password">
                    
                  
                

                
                  <label class="control-label" for="mail">Mail:</label>
                 
                    <input type="text" name="mail" value="{{invitation["mail"]}}" readonly="readonly" id="mail">
                    
                                 

                
                  <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                
            </fieldset>
          </form>
