 {% extends "base.html" %}
{% block body %} 
          <form method="post">
            <fieldset>
              <legend>Database Add</legend>
                   <label class="control-label" for="name">name:</label>
    
                    <input type="text" name="name" class="input-xlarge">



                    <label class="control-label" for="host">host:</label>
    
                    <input type="text" name="host" class="input-xlarge" >


                    <label class="control-label" for="port">port:</label>
    
                    <input type="text" name="port" class="input-xlarge" >



                  <label class="control-label" for="username">Username:</label>
    
                    <input type="text" name="username" class="input-xlarge" >


   
                  <label class="control-label" for="password">Password:</label>

                    <input type="password" name="password" class="input-xlarge" ><br>

                  <label class="control-label" for="uri">URI:</label>

                    <input type="text" name="uri">

                  <button type="submit" class="btn btn-primary">Login</button>

            </fieldset>
          </form>
        {% end %}
